<div ng-controller="LoaderCtrl" class="contLoader">
    <div class="preLoader" ng-show="doneLoad">
        <img class="plLogo fadeIn" src="/assets/images/logo.png" alt="">
        <div class="plText fadeIn">
            <img class="text" src="/assets/images/textLoader.png" alt="">
            <div class="pltBottle">
                <div class="pbCircle">
                    <div class="loader"></div>
                    <img src="/assets/images/bottle_loading.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
